footer {
  font-size: 16px;
}

footer ul {
  min-width: 100px;
}

footer .inner-group {
  display: flex;
}

.index_footer_list {
  margin-top: 500px;
  background-color: #8D7B68;
  color: #fff;
}

.index_footer_card {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index_footer_follow {
  transform: translateX(-150px);
  display: flex;
  align-items: flex-end;
}

.index_footer_follow i {
  font-size: 25px;
}